<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <link rel="icon" href="/images/logo fixhub new.jpg" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <title>FixHub</title>


    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- range slider -->
    <!-- font awesome style -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/about.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>

  </head>
  <body>
      <!-- header section strats -->
      <%- include('partials/_header') -%>
      <!-- end header section -->


    <div id="about-main">
      <div class="jumbotron">
        <div class="jumbotron-inner">
          <div class="top-box">
            <div class="content-box">
              <h1>About FIXHUB</h1>
              <p>
                The fastest repair service for your apple products, made with
                the highest quality there is
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="story-container">
        <div class="need-for-dx-container">
          <h3 class="text-center">Our Mission at FIXHUB</h3>
          <h6 class="text-center">Making people’s lives better</h6>
          <p>
            This includes our employees, our customers, and our owners – in that
            order. We believe happy employees makes happy customers. Happy
            customers create a successful business.
          </p>
          <h4 class="text-center">It’s that simple.</h4>
        </div>
        <div class="container-divider"></div>
        <div class="our-tech-container">
          <h3 class="text-center">Our Values</h3>
          <p>
            We have a list of 5 core values we try to live by. These not only
            help us succeed but give us a guiding light when trying to make hard
            decisions. They also Help us evaluate our employees, our management,
            our processes, and everything else about our business.
          </p>
          <ol style="padding: 0">
            <li>
              Honesty & transparency through great communication at all levels.
            </li>
            <li>Building great teams.</li>
            <li>High-quality performance.</li>
            <li>Hard work.</li>
            <li>Accountability.</li>
          </ol>
        </div>
        <div class="container-divider"></div>
        <div class="origin-story-container">
          <h3 class="text-center">The Employee Experience</h3>
          <p>
            What's it like to work at FIXHUB? We think it's a pretty great
            experience. We give all of our stores the freedom to express the
            personalities of the People who work there. You will see some
            commonality between stores but you won't see cookie cutter stores.
            This is because our employees have a Diverse set of interests and
            backgrounds and we give them the opportunity to express themselves.
           <p> We also do our best to make sure we take care of our employees
            financially. Along with 2 days off in a row we also try to do
            regular game nights such as PlayStation, pool, along with some tasty
            food. All of these perks nave come proactively. The owners of the
            company feel that as the Business improves, so should compensation
            for everyone.</p>
          </p>
        </div>
        <div class="container-divider"></div>
        <div class="origin-story-container">
          <h3 class="text-center">The Customer Experience</h3>
          <p>
            We'd hate for anyone to think that because we put our employees
            first that we neglect the customer Experience. Quite the opposite.
            We put a tremendous amount of effort into creating not only great
            Workspaces but also a great customer experience. Of course, you
            don't have to take our word tor that, you can just check out what
            our past customer Have to say about us.
          </p>
          <p>
            1. High-quality repairs, the cell phone repair business can be a bit
            like the Wild West. Fortunately, we've been in business for many
            years and have found great vendors. This allows us to source
            high-quality parts at a competitive price.
          </p>
          <p>
            2. Fast repair service It you have a broken iPhone, the odds are we
            can get It fixed within 45-60 minutes (with appointment). IPads
            generally take a little Longer because of the process as we want to
            make sure it is repaired correctly.
          </p>
          <p>
            3. Very competitive pricing We may not beat the pricing at the
            random guy on OLX that's fixing iPhones in his/her or his/her
            parent's basement, but we are Among the most competitively priced
            professional repair shops you will find. Remember cheaper doesn't
            always mean better. It's better to pay once and not twice.
          </p>
        </div>
        <div class="container-divider"></div>
        <div class="today-container">
          <h3 class="text-center">Our Services</h3>
          <h5 class="text-center">
            <b>We offer a variety of solutions for Apple product issues as</b>
          </h5>
          <p>
            We are a locally owned and operated smartphone repair shop
            specializing in professional repairs of IPhone/IPad/Apple
            watch/MacBook (All types of IC issues/ data recovery/ outer screen
            glass replacement / I cloud services / storage upgrades / back
            replacement / battery replacement) , smartphones and tablets for
            many manufacturers.
          </p>
          <p>
            Our priorities are to provide honest customer service, high quality
            repairs at affordable prices.
          </p>
          <ul>
            <li>
              We include a minimum of 6 months Warranty with all of our repairs!
            </li>
            <li>Walk-in service!</li>
            <li>Phone accessories for sale</li>
          </ul>
        </div>
        <div class="container-divider"></div>
      </div>
    </div>
       <!-- footer section starts -->
       <%- include('partials/_footer') -%>
       <!-- end footer section -->
    <!-- jQuery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
    <script>
      myInterval = setInterval(setText, 4000);

      function setText() {
        let x = document.querySelector("#online");
        x.innerHTML = x.innerHTML == "CALL US" ? "+20 100 588 5855" : "CALL US";
      }
    </script>
  </body>
</html>
