<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="x-ua-compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="max-age=7200" />
    <meta http-equiv="last-modified" content="Tue, 28 Dec 2021 02:40:14 GMT" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1"
    />
    <title>Data Recovery</title>
    <meta name="Keywords" content="#" />

    <link
      rel="canonical"
      href="https://www.tenorshare.net/ads/iphone-data-recovery-win.html"
    />
    <link rel="shortcut icon" href="/imagesFix/fav.png" />
    <link rel="stylesheet" href="/css/common.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- slider stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- slider stylesheet -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <!-- font awesome style -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>

    <style>
      #gdprAgree .gdprAgree_close {
        font-size: 12px !important;
        transform: none !important;
        background: none !important;
      }
      .hidden {
        display: hidden;
      }
      @media (max-width: 415px) {
        .hidden-415 {
          display: hidden;
        }
        .flex-415 {
          display: flex;
        }
      }
    </style>
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/iphone-data-recovery-win.css"
    />
    <script>
      (function () {
        var features = ["IntersectionObserver", "fetch", "HTMLPictureElement"];
        var arr = [];
        var cont = "";
        for (var i = 0; i < features.length; i++) {
          if (!(features[i] in window)) {
            arr.push(features[i]);
          }
        }
        cont = arr.join(",");
        if (cont) {
          document.write(
            "<scr" + 'ipt src="v3/polyfill.min.js' + cont + '"></sc' + "ript>"
          );
        }
      })();
    </script>
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WRRLTP");
    </script>
  </head>
  <body>
    <!-- header section starts -->
    <%- include('partials/_header') -%>
    <!-- end header section -->
    <main class="green">
      <div class="top-banner">
        <div
          class="containerDa flex-align-center flex-justify-between flexible"
        >
          <div class="rgt">
            <div class="sub flexible flex-align-center">
              FIXHUB Store <span>Support All iOS Versions</span>
            </div>
            <h1 class="title">Best iPhone and iPad Data Recovery Software</h1>
            <ul class="list-ok">
              <li>
                Recover lost or deleted photos, videos, contacts, message,
                imessage, notes, call logs, and more
              </li>
              <li>
                Recover lost data in APPs including WhatsApp, Tango, Wechat,
                Kik, Viber, Line and more.
              </li>
              <li>Preview backup files before restoring them</li>
              <li>Get back data from iTunes & iCloud backup</li>
              <li>
                Fix various iOS system issues like recovery mode, white Apple
                logo, black screen, etc.
              </li>
            </ul>
            <a
              href="tel:+20 100 588 5855"
              class="download-btn-green sys-win bg-green text-white sm-hidden"
            >
              <span class="rgt">
                <span class="txt">Book Online</span>
              </span>
            </a>
          </div>
          <div class="lft">
            <img src="/imagesFix/banner-img.png" alt="" />
          </div>
        </div>
      </div>

      <div class="recover-device" id="first">
        <div class="containerDa">
          <div class="title text-center">
            Recover Everything You Valued From Any iOS Device
          </div>
          <div class="flexible flex-align-center sm-column">
            <div class="pic sm-width sm-center">
              <img src="/imagesFix/apple-pro.png" alt="" />
            </div>
            <div class="cont sm-width">
              <div class="cell">
                <div class="sub">Text Content Recovery</div>
                <ul class="flexible flex-wrap-wrap flex-align-start">
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M14.2,14.2c-1.1-0.6-1.7-0.8-1.9-0.8l0,0c-0.2,0-0.5,0.3-1,0.9c-0.5,0.6-0.8,0.9-1,0.9c-0.1,0-0.3,0-0.4-0.1
                                    c-1.2-0.6-2.2-1.3-2.9-1.9c-0.9-0.8-1.5-1.7-1.9-2.6C5,10.5,5,10.4,5,10.3c0-0.1,0.2-0.4,0.7-0.9c0.4-0.5,0.7-0.8,0.7-1.1
                                    c0-0.1-0.2-0.6-0.5-1.4C5.5,6,5.3,5.4,5.2,5.2C5.1,4.9,5,4.8,4.9,4.7C4.8,4.6,4.6,4.5,4.4,4.5c-0.1,0-0.2,0-0.4,0
                                    c-0.2,0-0.3,0-0.3,0c-0.4,0-0.7,0.1-1,0.4c-0.9,0.8-1.4,1.9-1.4,3v0.2c0,1.1,0.4,2.3,1.4,3.7c1,1.4,1.9,2.6,2.8,3.5
                                    c0.9,0.9,2,1.7,3.2,2.2c1.7,0.8,2.9,1.2,3.6,1.2c0.6,0,1.2-0.2,1.9-0.5c0.7-0.3,1.2-0.8,1.4-1.2c0.2-0.5,0.3-1,0.3-1.4
                                    c0-0.1,0-0.2,0-0.3C15.8,15.1,15.3,14.8,14.2,14.2z"
                      />
                      <polygon
                        points="18,2 18,1 17,1 17,0 16,0 16,2 12,2 12,4 16,4 16,6 17,6 17,5 18,5 18,4 19,4 19,2 "
                      />
                      <polygon
                        points="13,5 12,5 12,6 11,6 11,7 10,7 10,9 11,9 11,10 12,10 12,11 13,11 13,9 17,9 17,7 13,7 "
                      />
                    </svg>
                    Call History
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M9.4,9.4l-2.2,3.3l3.3-2.2L9.4,9.4L9.4,9.4z M5,15l3.3-6.7L15,5l-3.3,6.7L5,15L5,15z M10,2c-4.4,0-8,3.6-8,8
                                    s3.6,8,8,8s8-3.6,8-8S14.4,2,10,2L10,2z M10,20C4.5,20,0,15.5,0,10S4.5,0,10,0s10,4.5,10,10S15.5,20,10,20L10,20z"
                      />
                    </svg>
                    Safari
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M19,3h-4V2c0-0.6-0.4-1-1-1s-1,0.4-1,1v1H7V2c0-0.6-0.4-1-1-1S5,1.4,5,2v1H1C0.4,3,0,3.4,0,4v14
                                    c0,0.6,0.4,1,1,1h18c0.6,0,1-0.4,1-1V4C20,3.4,19.6,3,19,3z M18,17H2V5h3v2c0,0.6,0.4,1,1,1s1-0.4,1-1V5h6v2c0,0.6,0.4,1,1,1
                                    s1-0.4,1-1V5h3V17z"
                      />
                      <circle cx="5.5" cy="10.5" r="1.5" />
                      <circle cx="10.5" cy="10.5" r="1.5" />
                      <circle cx="14.5" cy="10.5" r="1.5" />
                      <circle cx="5.5" cy="14.5" r="1.5" />
                      <circle cx="10.5" cy="14.5" r="1.5" />
                      <circle cx="14.5" cy="14.5" r="1.5" />
                    </svg>
                    Calendar
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M3.2,10.6l0.8-0.1c0.1,0.3,0.2,0.5,0.3,0.6s0.4,0.2,0.6,0.2c0.3,0,0.5-0.1,0.6-0.2c0.1-0.1,0.2-0.3,0.2-0.4
                                    c0-0.1,0-0.2-0.1-0.3c-0.1-0.1-0.2-0.1-0.3-0.2c-0.1,0-0.3-0.1-0.7-0.2C4.3,10,4,9.9,3.8,9.7C3.5,9.5,3.4,9.2,3.4,8.8
                                    c0-0.2,0.1-0.4,0.2-0.6C3.7,8,3.9,7.9,4.1,7.8s0.5-0.1,0.8-0.1c0.5,0,0.9,0.1,1.2,0.4s0.4,0.6,0.4,0.9L5.7,9c0-0.2-0.1-0.4-0.2-0.5
                                    C5.4,8.4,5.2,8.3,4.9,8.3c-0.3,0-0.4,0.1-0.6,0.2C4.2,8.6,4.2,8.7,4.2,8.8c0,0.1,0,0.2,0.1,0.3c0.1,0.1,0.4,0.2,0.8,0.3
                                    s0.7,0.2,0.9,0.3s0.4,0.3,0.5,0.4c0.1,0.2,0.2,0.4,0.2,0.7c0,0.2-0.1,0.5-0.2,0.7s-0.3,0.4-0.6,0.5C5.7,12,5.4,12.1,5,12.1
                                    c-0.5,0-1-0.1-1.3-0.4C3.4,11.4,3.3,11.1,3.2,10.6z"
                      />
                      <path
                        d="M7.4,12V7.7h1.3l0.8,2.9l0.8-2.9h1.3V12h-0.8V8.6L9.9,12H9.1L8.2,8.6V12H7.4z"
                      />
                      <path
                        d="M12.2,10.6l0.8-0.1c0.1,0.3,0.2,0.5,0.3,0.6c0.2,0.1,0.4,0.2,0.6,0.2c0.3,0,0.5-0.1,0.6-0.2
                                    c0.1-0.1,0.2-0.3,0.2-0.4c0-0.1,0-0.2-0.1-0.3c-0.1-0.1-0.2-0.1-0.3-0.2c-0.1,0-0.3-0.1-0.7-0.2c-0.5-0.1-0.8-0.3-1-0.4
                                    c-0.3-0.2-0.4-0.5-0.4-0.9c0-0.2,0.1-0.4,0.2-0.6c0.1-0.2,0.3-0.3,0.5-0.4c0.2-0.1,0.5-0.1,0.8-0.1c0.5,0,0.9,0.1,1.2,0.4
                                    c0.3,0.2,0.4,0.6,0.4,0.9l-0.9,0c0-0.2-0.1-0.4-0.2-0.5c-0.1-0.1-0.3-0.1-0.5-0.1c-0.3,0-0.4,0.1-0.6,0.2c-0.1,0.1-0.1,0.2-0.1,0.3
                                    c0,0.1,0,0.2,0.1,0.3c0.1,0.1,0.4,0.2,0.8,0.3s0.7,0.2,0.9,0.3c0.2,0.1,0.4,0.3,0.5,0.4c0.1,0.2,0.2,0.4,0.2,0.7
                                    c0,0.2-0.1,0.5-0.2,0.7s-0.3,0.4-0.6,0.5c-0.2,0.1-0.6,0.2-0.9,0.2c-0.5,0-1-0.1-1.3-0.4C12.4,11.4,12.3,11.1,12.2,10.6z"
                      />
                      <path
                        d="M20,10c0-1.3-0.3-2.7-0.8-3.9c-0.5-1.2-1.2-2.3-2.1-3.2c-0.9-0.9-2-1.6-3.2-2.1c-2.5-1.1-5.3-1.1-7.8,0
                                    C4.9,1.3,3.8,2,2.9,2.9C2,3.8,1.3,4.9,0.8,6.1C0.3,7.3,0,8.7,0,10c0,2,0.5,3.8,1.6,5.4l-1,2.9c-0.1,0.4,0,0.8,0.2,1
                                    c0.3,0.3,0.7,0.4,1,0.3l3-1C6.5,19.5,8.2,20,10,20c1,0,2-0.2,3-0.5V20h7v-7h-0.5C19.8,12,20,11,20,10z M18,18h-3v-3h3V18z M13,13
                                    v4.4c-1,0.4-2,0.6-3,0.6c-1.6,0-3.1-0.4-4.4-1.3c-0.2-0.1-0.4-0.2-0.6-0.2c-0.1,0-0.2,0-0.3,0l-1.6,0.5l0.5-1.5
                                    c0.1-0.3,0.1-0.6-0.1-0.9C2.5,13.3,2,11.7,2,10c0-1.1,0.2-2.1,0.6-3.1c0.4-1,1-1.9,1.7-2.6c0.7-0.7,1.6-1.3,2.6-1.7
                                    c2-0.8,4.2-0.8,6.2,0c1,0.4,1.9,1,2.6,1.7c0.7,0.7,1.3,1.6,1.7,2.6c0.4,1,0.6,2,0.6,3.1c0,1-0.2,2-0.6,3H13z"
                      />
                    </svg>
                    SMS Attachement
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M10,2C4.5,2,0,5.3,0,9.4c0,1.9,1,3.7,2.7,5c1.4,1.5,0.8,3.2,0.7,3.3c-0.2,0.4,0,0.9,0.3,1.1
                                    C3.9,18.9,4.1,19,4.4,19c0.2,0,0.4-0.1,0.6-0.2c0.8-0.6,3.3-2.1,5.1-2.1c5.5,0,10-3.3,10-7.4C20,5.3,15.5,2,10,2z M10,14.7
                                    c-1.5,0-3.2,0.7-4.4,1.4c-0.1-1-0.5-2.1-1.5-3.2c0,0-0.1-0.1-0.1-0.1c-1.3-1-2-2.2-2-3.5C2,6.4,5.6,4,10,4s8,2.4,8,5.4
                                    S14.4,14.7,10,14.7z"
                      />
                      <circle cx="5.5" cy="9.5" r="1.5" />
                      <circle cx="9.5" cy="9.5" r="1.5" />
                      <path
                        d="M13.5,8C12.7,8,12,8.7,12,9.5s0.7,1.5,1.5,1.5S15,10.3,15,9.5S14.3,8,13.5,8z"
                      />
                    </svg>
                    Messages
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M18,0H2C1.4,0,1,0.4,1,1v18c0,0.6,0.4,1,1,1h16c0.6,0,1-0.4,1-1V1C19,0.4,18.6,0,18,0z M17,18H3V2h14V18z"
                      />
                      <rect x="5" y="13" width="2" height="2" />
                      <rect x="5" y="5" width="2" height="2" />
                      <rect x="5" y="9" width="2" height="2" />
                      <rect x="8" y="13" width="7" height="2" />
                      <rect x="8" y="9" width="7" height="2" />
                      <rect x="8" y="5" width="7" height="2" />
                    </svg>
                    Reminders
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M19,1H1C0.4,1,0,1.4,0,2v16c0,0.6,0.4,1,1,1h18c0.6,0,1-0.4,1-1V2C20,1.4,19.6,1,19,1z M2,3h16v2H2V3z M2,17V7
                                    h16v10H2z"
                      />
                      <path
                        d="M14.5,9h-9c-0.6,0-1,0.4-1,1s0.4,1,1,1h9c0.6,0,1-0.4,1-1S15.1,9,14.5,9z"
                      />
                      <path
                        d="M9.5,13h-4c-0.6,0-1,0.4-1,1s0.4,1,1,1h4c0.6,0,1-0.4,1-1S10.1,13,9.5,13z"
                      />
                    </svg>
                    Notes
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M20,9.4C20,5.3,15.5,2,10,2S0,5.3,0,9.4c0,1.9,1,3.7,2.7,5c1.4,1.5,0.8,3.2,0.7,3.2c-0.2,0.4,0,0.9,0.3,1.1
                                    C3.9,18.9,4.1,19,4.3,19c0.2,0,0.4-0.1,0.6-0.2c0.8-0.6,3.3-2.1,5.1-2.1c1,0,2.1-0.1,3-0.3V20h7v-7h-1.3C19.5,11.9,20,10.7,20,9.4z
                                    M10,14.7c-1.5,0-3.2,0.7-4.4,1.4c-0.1-1-0.5-2.1-1.5-3.1c0,0-0.1-0.1-0.1-0.1c-1.3-1-2-2.2-2-3.5C2,6.4,5.6,4,10,4s8,2.4,8,5.4
                                    c0,1.4-0.8,2.7-2.1,3.6H13v1.3C12.1,14.6,11,14.7,10,14.7z M18,18h-3v-3h3V18z"
                      />
                      <path
                        d="M5.5,8C4.7,8,4,8.7,4,9.5S4.7,11,5.5,11S7,10.3,7,9.5S6.3,8,5.5,8L5.5,8z"
                      />
                      <path
                        d="M9.5,8C8.7,8,8,8.7,8,9.5S8.7,11,9.5,11S11,10.3,11,9.5S10.3,8,9.5,8L9.5,8z"
                      />
                      <path
                        d="M13.5,8C12.7,8,12,8.7,12,9.5s0.7,1.5,1.5,1.5c0.8,0,1.5-0.7,1.5-1.5S14.3,8,13.5,8L13.5,8z"
                      />
                    </svg>
                    Notes Attachement
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M18,0H2C1.4,0,1,0.4,1,1v18c0,0.6,0.4,1,1,1h16c0.6,0,1-0.4,1-1V1C19,0.4,18.6,0,18,0z M17,18H3V2h14V18z"
                      />
                      <path
                        d="M10,10c1.1,0,2-1.1,2-2c0-1.9-0.9-3-2-3S8,6.1,8,8C8,8.9,8.9,10,10,10z"
                      />
                      <path d="M14,14c0-2.2-2.7-3-4-3s-4,0.8-4,3v1h8V14z" />
                    </svg>
                    Contact
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M16,7c0-1.7-1.3-3-3-3H3C1.3,4,0,5.3,0,7v6c0,1.7,1.3,3,3,3h10c1.7,0,3-1.3,3-3l4,2V5L16,7z M14,13
                                    c0,0.6-0.4,1-1,1H3c-0.6,0-1-0.4-1-1V7c0-0.6,0.4-1,1-1h10c0.6,0,1,0.4,1,1v1v4V13z M18,11.8l-2-1V9.2l2-1V11.8z"
                      />
                    </svg>
                    FaceTime
                  </li>
                </ul>
              </div>
              <div class="cell">
                <div class="sub">Media Content Recovery</div>
                <ul class="flexible flex-wrap-wrap flex-align-start">
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M19,20H1c-0.6,0-1-0.4-1-1V1c0-0.6,0.4-1,1-1h18c0.6,0,1,0.4,1,1v18C20,19.6,19.6,20,19,20z M2,18h16V2H2V18z"
                      />
                      <path
                        d="M6.7,12.5c0.4,0,0.7,0.3,1,0.6l0.7,0.7c0.1,0.6,0.4,0.6,1.1,0l2.2-3.3c0.1-0.1,0.7-0.8,1.1,0
                                    l3.1,5.2c0.1,0.1,0,0.3-0.1,0.3H4.3c-0.1,0-0.2-0.2-0.1-0.3l1.6-2.4C6,13,6.3,12.6,6.7,12.5L6.7,12.5z"
                      />
                      <circle cx="8" cy="7" r="2" />
                    </svg>
                    Photos
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <rect x="9" width="2" height="20" />
                      <rect x="13" y="3" width="2" height="14" />
                      <rect x="17" y="6" width="2" height="8" />
                      <rect x="1" y="6" width="2" height="8" />
                      <rect x="5" y="3" width="2" height="14" />
                    </svg>
                    Audio
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M10,14c-2.2,0-4-1.8-4-4.1V4.1C6,1.8,7.8,0,10,0c2.2,0,4,1.8,4,4.1v5.9C14,12.2,12.2,14,10,14z M10,2
                                    C8.9,2,8,2.9,8,4.1v5.9c0,1.1,0.9,2.1,2,2.1c1.1,0,2-0.9,2-2.1V4.1C12,2.9,11.1,2,10,2z"
                      />
                      <path
                        d="M17,11c0-0.6-0.4-1-1-1s-1,0.4-1,1c0,2.9-2.6,4-5,4c-2.4,0-5-1-5-4c0-0.6-0.4-1-1-1s-1,0.4-1,1
                                    c0,3.3,2.4,5.6,6,5.9V18H6c-0.6,0-1,0.4-1,1s0.4,1,1,1h8c0.6,0,1-0.4,1-1s-0.4-1-1-1h-3v-1.1C14.6,16.6,17,14.3,17,11z"
                      />
                    </svg>
                    Voice Memos
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M18,0H1C0.4,0,0,0.4,0,1v18c0,0.6,0.4,1,1,1h17c0.6,0,1-0.4,1-1V1C19,0.4,18.6,0,18,0z M2,2h2v16H2V2z M17,18H6
                                    V2h11V18z"
                      />
                      <path
                        d="M9,10h5c0.6,0,1-0.4,1-1s-0.4-1-1-1H9C8.4,8,8,8.4,8,9S8.4,10,9,10z"
                      />
                      <path
                        d="M10,7h3c0.6,0,1-0.4,1-1s-0.4-1-1-1h-3C9.4,5,9,5.4,9,6S9.4,7,10,7z"
                      />
                    </svg>
                    iBook
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M9.1,6.1l4.6,3.3c0.4,0.3,0.4,0.9,0,1.1l-4.6,3.3c-0.5,0.3-1.1,0-1.1-0.6V6.7C8,6.1,8.6,5.8,9.1,6.1"
                      />
                      <path
                        d="M10,20C4.5,20,0,15.5,0,10S4.5,0,10,0s10,4.5,10,10S15.5,20,10,20z M10,2c-4.4,0-8,3.6-8,8s3.6,8,8,8s8-3.6,8-8
                                    S14.4,2,10,2z"
                      />
                    </svg>
                    Videos
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M19,1.7v13.7c0,0,0,0,0,0.1c0,0,0,0,0,0.1l0,0c0,0.1,0,0.1,0,0.2c-0.1,0.6-0.4,1.2-0.8,1.6c-0.5,0.5-1.2,0.8-1.9,0.8
                                    c-1.5,0-2.7-1.2-2.7-2.7c0-0.8,0.3-1.4,0.8-1.9s1.2-0.8,1.9-0.8c0.6,0,1.1,0.2,1.6,0.5v-8c0-0.7-0.6-1.2-1.3-1.1l-9.2,1
                                    c-0.6,0.1-1,0.6-1,1.1V17l0,0c0,0.1,0,0.1,0,0.2c-0.1,0.6-0.4,1.1-0.8,1.5c-0.5,0.5-1.2,0.8-1.9,0.8c-1.5,0-2.7-1.2-2.7-2.7
                                    c0-0.8,0.3-1.4,0.8-1.9C2.3,14.3,3,14,3.7,14c0.6,0,1.1,0.2,1.5,0.5V2.9c0-0.6,0.4-1.1,1-1.1l11.4-1.2C18.4,0.5,19,1,19,1.7z"
                      />
                    </svg>
                    Music
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M20,10.5C20,8,18,6,15.5,6S11,8,11,10.5c0,0.9,0.3,1.8,0.8,2.5H8.2C8.7,12.3,9,11.4,9,10.5C9,8,7,6,4.5,6
                                    S0,8,0,10.5S2,15,4.5,15c0.2,0,0.3,0,0.5-0.1V15h11v-0.1C18.2,14.7,20,12.8,20,10.5z M2,10.5C2,9.1,3.1,8,4.5,8S7,9.1,7,10.5
                                    C7,11.9,5.9,13,4.5,13S2,11.9,2,10.5z M15.5,13c-1.4,0-2.5-1.1-2.5-2.5C13,9.1,14.1,8,15.5,8S18,9.1,18,10.5
                                    C18,11.9,16.9,13,15.5,13z"
                      />
                    </svg>
                    Voicemail
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M19,20H1c-0.6,0-1-0.4-1-1V1c0-0.6,0.4-1,1-1h18c0.6,0,1,0.4,1,1v18C20,19.6,19.6,20,19,20z M2,18h16V2H2V18z"
                      />
                      <polygon points="14,10.5 7,6 7,15 " />
                    </svg>
                    Apps Video
                  </li>
                </ul>
              </div>
              <div class="cell">
                <div class="sub">App Data Recovery</div>
                <ul class="flexible flex-wrap-wrap flex-align-start">
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M19.2,6.1c-0.5-1.2-1.2-2.3-2.1-3.2c-0.9-0.9-2-1.6-3.2-2.1c-2.5-1.1-5.3-1.1-7.8,0C4.9,1.3,3.8,2,2.9,2.9
                                    C2,3.8,1.3,4.9,0.8,6.1C0.3,7.3,0,8.7,0,10c0,2,0.5,3.8,1.6,5.4l-1,2.9c-0.1,0.4,0,0.8,0.2,1c0.3,0.3,0.7,0.4,1,0.3l3-1
                                    C6.5,19.5,8.2,20,10,20c1.3,0,2.7-0.3,3.9-0.8c1.2-0.5,2.3-1.2,3.2-2.1c0.9-0.9,1.6-2,2.1-3.2c0.5-1.2,0.8-2.5,0.8-3.9
                                    C20,8.7,19.7,7.3,19.2,6.1z M17.4,13.1c-0.4,1-1,1.9-1.7,2.6c-0.7,0.7-1.6,1.3-2.6,1.7c-1,0.4-2,0.6-3.1,0.6c-1.6,0-3.1-0.4-4.4-1.3
                                    c-0.2-0.1-0.4-0.2-0.5-0.2c-0.1,0-0.2,0-0.3,0l-1.6,0.5l0.5-1.5c0.1-0.3,0.1-0.6-0.1-0.9C2.5,13.3,2,11.7,2,10
                                    c0-1.1,0.2-2.1,0.6-3.1c0.4-1,1-1.9,1.7-2.6c0.7-0.7,1.6-1.3,2.6-1.7c2-0.8,4.2-0.8,6.2,0c1,0.4,1.9,1,2.6,1.7
                                    c0.7,0.7,1.3,1.6,1.7,2.6c0.4,1,0.6,2,0.6,3.1C18,11.1,17.8,12.1,17.4,13.1z"
                      />
                      <path
                        d="M13.7,11.7c-0.7-0.4-1.1-0.6-1.2-0.6l0,0c-0.1,0-0.3,0.2-0.7,0.6c-0.3,0.4-0.6,0.6-0.7,0.6
                                    c-0.1,0-0.2,0-0.3-0.1c-0.8-0.4-1.4-0.8-1.9-1.3c-0.6-0.5-1-1.1-1.3-1.7c0-0.1-0.1-0.1-0.1-0.2C7.6,9,7.7,8.8,8,8.5
                                    C8.3,8.2,8.5,8,8.5,7.8c0-0.1-0.1-0.4-0.3-0.9C7.9,6.3,7.8,5.9,7.7,5.8C7.7,5.6,7.6,5.5,7.5,5.4C7.5,5.4,7.4,5.3,7.2,5.3
                                    c-0.1,0-0.1,0-0.2,0c-0.1,0-0.2,0-0.2,0c-0.2,0-0.5,0.1-0.7,0.3c-0.6,0.6-0.9,1.2-0.9,2v0.1c0,0.7,0.3,1.5,0.9,2.5
                                    c0.6,0.9,1.3,1.7,1.9,2.3c0.6,0.6,1.3,1.1,2.1,1.5c1.1,0.5,1.9,0.8,2.4,0.8c0.4,0,0.8-0.1,1.3-0.3c0.5-0.2,0.8-0.5,0.9-0.8
                                    c0.1-0.4,0.2-0.7,0.2-1c0-0.1,0-0.1,0-0.2C14.8,12.3,14.4,12.1,13.7,11.7z"
                      />
                    </svg>
                    Whatsapp
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M10,20c-1.8,0-3.5-0.5-5.1-1.4l-3,1c-0.4,0.1-0.8,0-1-0.3c-0.3-0.3-0.4-0.7-0.2-1l1-2.9C0.5,13.8,0,12,0,10
                                    c0-1.3,0.3-2.7,0.8-3.9C1.3,4.9,2,3.8,2.9,2.9c0.9-0.9,2-1.6,3.2-2.1c2.5-1.1,5.3-1.1,7.8,0c1.2,0.5,2.3,1.2,3.2,2.1
                                    c0.9,0.9,1.6,2,2.1,3.2C19.7,7.3,20,8.7,20,10s-0.3,2.7-0.8,3.9c-0.5,1.2-1.2,2.3-2.1,3.2c-0.9,0.9-2,1.6-3.2,2.1
                                    C12.7,19.7,11.3,20,10,20z M5.1,16.5c0.2,0,0.4,0.1,0.6,0.2C6.9,17.6,8.4,18,10,18c1.1,0,2.1-0.2,3.1-0.6c1-0.4,1.9-1,2.6-1.7
                                    c0.7-0.7,1.3-1.6,1.7-2.6c0.4-1,0.6-2,0.6-3.1s-0.2-2.1-0.6-3.1c-0.4-1-1-1.9-1.7-2.6c-0.7-0.7-1.6-1.3-2.6-1.7
                                    c-2-0.8-4.2-0.8-6.2,0c-1,0.4-1.9,1-2.6,1.7C3.6,5.1,3.1,5.9,2.6,6.9C2.2,7.9,2,8.9,2,10c0,1.7,0.5,3.3,1.5,4.7
                                    c0.2,0.3,0.2,0.6,0.1,0.9l-0.5,1.5l1.6-0.5C4.9,16.5,5,16.5,5.1,16.5z"
                      />
                      <polygon
                        points="16.9,7 11.9,9.8 9.2,7 3.6,13 8.7,10.2 11.3,13 "
                      />
                    </svg>
                    Messenger
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M5.4,4.1h2.2V10l5.7-5.8h2.8L11,9.3l5.5,7.7h-2.8l-4.2-6.1l-1.8,1.8V17H5.4V4.1z"
                      />
                    </svg>
                    Kik
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path d="M5.1,4.1h10.4v1.9h-4.1V17H9.2V6.1H5.1V4.1z" />
                    </svg>
                    Tango
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M14.2,14.2c-1.1-0.6-1.7-0.8-1.9-0.8l0,0c-0.2,0-0.5,0.3-1,0.9c-0.5,0.6-0.8,0.9-1,0.9c-0.1,0-0.3,0-0.4-0.1
                                    c-1.2-0.6-2.2-1.3-2.9-1.9c-0.9-0.8-1.5-1.7-1.9-2.6C5,10.5,5,10.4,5,10.3c0-0.1,0.2-0.4,0.7-0.9c0.4-0.5,0.7-0.8,0.7-1.1
                                    c0-0.1-0.2-0.6-0.5-1.4C5.5,6,5.3,5.4,5.2,5.2C5.1,4.9,5,4.8,4.9,4.7C4.8,4.6,4.6,4.5,4.4,4.5c-0.1,0-0.2,0-0.4,0
                                    c-0.2,0-0.3,0-0.3,0c-0.4,0-0.7,0.1-1,0.4c-0.9,0.8-1.4,1.9-1.4,3v0.2c0,1.1,0.4,2.3,1.4,3.7c1,1.4,1.9,2.6,2.8,3.5
                                    c0.9,0.9,2,1.7,3.2,2.2c1.7,0.8,2.9,1.2,3.6,1.2c0.6,0,1.2-0.2,1.9-0.5c0.7-0.3,1.2-0.8,1.4-1.2c0.2-0.5,0.3-1,0.3-1.4
                                    c0-0.1,0-0.2,0-0.3C15.8,15.1,15.3,14.8,14.2,14.2z"
                      />
                      <path
                        d="M18.1,5.8c-0.8-1.9-2.4-3.4-4.4-4.2c-2-0.8-4.1-0.7-6.1,0.1C7.4,1.8,7.3,2.1,7.4,2.3s0.4,0.4,0.7,0.3
                                    c1.7-0.7,3.6-0.8,5.3-0.1c1.7,0.7,3.1,2,3.8,3.7c0.7,1.7,0.8,3.6,0.1,5.3c-0.1,0.3,0,0.5,0.3,0.6c0.1,0,0.1,0,0.2,0
                                    c0.2,0,0.4-0.1,0.5-0.3C19,9.8,18.9,7.7,18.1,5.8z"
                      />
                      <path
                        d="M13,3.3c-1.5-0.6-3.1-0.6-4.6,0.1C8.2,3.5,8.1,3.8,8.2,4c0.1,0.3,0.4,0.4,0.7,0.3c1.2-0.5,2.6-0.6,3.9-0.1
                                    c1.3,0.5,2.2,1.4,2.8,2.7c0.5,1.2,0.6,2.6,0.1,3.9c-0.1,0.3,0,0.5,0.3,0.6c0.1,0,0.1,0,0.2,0c0.2,0,0.4-0.1,0.5-0.3
                                    C17,9.6,17,8,16.4,6.5C15.7,5,14.5,3.9,13,3.3z"
                      />
                      <path
                        d="M14.1,10.7c0.1,0,0.1,0,0.2,0c0.2,0,0.4-0.1,0.5-0.3c0.4-1,0.4-2.2-0.1-3.2c-0.4-1-1.3-1.8-2.3-2.2
                                    c-1-0.4-2.2-0.4-3.2,0.1C8.9,5.2,8.8,5.5,8.9,5.8C9,6,9.3,6.1,9.6,6c0.8-0.3,1.6-0.4,2.4,0c0.8,0.3,1.4,0.9,1.7,1.7
                                    c0.3,0.8,0.4,1.6,0,2.4C13.7,10.3,13.8,10.6,14.1,10.7z"
                      />
                    </svg>
                    Viber
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M13.7,6.5c0.2,0,0.4,0,0.5,0c-1-2-3.5-3.5-6.6-3.5c-3.9,0-7,2.4-7,5.3c0,1.7,1,3.1,2.6,4.1l-0.7,2l2.3-1.3
                                    c0.8,0.3,1.7,0.4,2.7,0.4c-0.2-0.6-0.4-1.1-0.4-1.8C7.2,8.9,10.1,6.5,13.7,6.5z M9.5,5.2c0.5,0,0.9,0.4,0.9,0.9
                                    c0,0.5-0.4,0.9-0.9,0.9C9,6.9,8.6,6.5,8.6,6.1C8.6,5.6,9,5.2,9.5,5.2z M4.9,6.9c-0.5,0-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9
                                    c0.5,0,0.9,0.4,0.9,0.9C5.8,6.5,5.4,6.9,4.9,6.9z"
                      />
                      <path
                        d="M19.3,11.7c0-2.4-2.5-4.4-5.6-4.4c-3.1,0-5.6,2-5.6,4.4s2.5,4.4,5.6,4.4c0.6,0,1.2-0.1,1.8-0.2l2,1.1l-0.6-1.6
                                    C18.4,14.6,19.3,13.2,19.3,11.7z M11.9,11.3c-0.5,0-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9c0.5,0,0.9,0.4,0.9,0.9
                                    C12.8,10.9,12.4,11.3,11.9,11.3z M15.6,11.3c-0.5,0-0.9-0.4-0.9-0.9c0-0.5,0.4-0.9,0.9-0.9s0.9,0.4,0.9,0.9
                                    C16.5,10.9,16.1,11.3,15.6,11.3z"
                      />
                    </svg>
                    WeChat
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M16.5,7.5c0,0.1-0.1,0.2-0.2,0.2h-1.8v0.7h1.8c0.1,0,0.2,0.1,0.2,0.2v0.6c0,0.1-0.1,0.2-0.2,0.2
                                    h-1.8v0.7h1.8c0.1,0,0.2,0.1,0.2,0.2v0.6c0,0.1-0.1,0.2-0.2,0.2h-2.6c-0.1,0-0.2-0.1-0.2-0.2v-4c0-0.1,0.1-0.2,0.2-0.2h2.6
                                    c0.1,0,0.2,0.1,0.2,0.2V7.5z M12.9,10.9c0,0.1-0.1,0.2-0.2,0.2H12c-0.1,0-0.2-0.1-0.2-0.1L10,8.4v2.5c0,0.1-0.1,0.2-0.2,0.2H9.2
                                    C9.1,11.1,9,11,9,10.9v-4c0-0.1,0.1-0.2,0.2-0.2h0.6c0.1,0,0.2,0,0.2,0.1l1.8,2.5V6.9c0-0.1,0.1-0.2,0.2-0.2h0.6
                                    c0.1,0,0.2,0.1,0.2,0.2L12.9,10.9L12.9,10.9z M8.4,10.9c0,0.1-0.1,0.2-0.2,0.2H7.6c-0.1,0-0.2-0.1-0.2-0.2v-4c0-0.1,0.1-0.2,0.2-0.2
                                    h0.6c0.1,0,0.2,0.1,0.2,0.2V10.9z M6.7,10.9c0,0.1-0.1,0.2-0.2,0.2H4c-0.1,0-0.2-0.1-0.2-0.2v-4c0-0.1,0.1-0.2,0.2-0.2h0.6
                                    c0.1,0,0.2,0.1,0.2,0.2v3.2h1.7c0.1,0,0.2,0.1,0.2,0.2L6.7,10.9L6.7,10.9z M10,1.1c-5.2,0-9.4,3.4-9.4,7.6c0,3.8,3.4,6.9,7.9,7.5
                                    c0.3,0,1,0.1,0.7,1.5C9,19.1,9.1,19.5,12,17.6c2.9-1.9,3.5-2.7,4.7-3.6c1.6-1.4,2.7-3.2,2.7-5.3C19.4,4.5,15.2,1.1,10,1.1L10,1.1z"
                      />
                    </svg>
                    Line
                  </li>
                  <li class="flexible flex-align-center">
                    <svg width="20" viewBox="0 0 20 20" fill="#e43820">
                      <path
                        d="M18.5,20h-16c-0.6,0-1-0.4-1-1V1c0-0.6,0.4-1,1-1h16c0.6,0,1,0.4,1,1v18C19.5,19.6,19.1,20,18.5,20z M3.5,18h14
                                    V2h-14V18z"
                      />
                      <rect x="7.5" y="5" width="6" height="2" />
                      <rect x="5.5" y="9" width="10" height="2" />
                      <rect x="5.5" y="13" width="10" height="2" />
                    </svg>
                    App Documents
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="recover-lost" id="second">
        <span class="bt-lft com-bg"></span>
        <span class="bt-rgt com-bg"></span>
        <div class="containerDa">
          <div class="title">
            Get Back All iPhone Lost Data - No Matter How You Lost Them
          </div>
          <div
            class="flexible flex-align-start flex-justify-between flex-wrap-wrap"
          >
            <div class="cell sm-width">
              <div
                class="front flexible flex-direction-column flex-align-center flex-justify-center"
              >
                <svg width="45" viewBox="0 0 45 64" fill="#e43820">
                  <path
                    d="M35.4,0H9.6C4.3,0,0,4.3,0,9.6v44.8C0,59.7,4.3,64,9.6,64h25.8c5.3,0,9.6-4.3,9.6-9.6V9.6C45,4.3,40.7,0,35.4,0
                            z M19,58c0-1.7,1.3-3,3-3s3,1.3,3,3s-1.3,3-3,3S19,59.7,19,58z M3,53V9.6C3,6,6,3,9.6,3h25.8C39,3,42,6,42,9.6V53H3z"
                  />
                  <polygon
                    points="32,27 25,27 25,37 22,37 29,44 35,37 32,37 "
                  />
                  <polygon
                    points="17,16 10,23 13,23 13,33 20,33 20,23 23,23 "
                  />
                </svg>
                Upgrade/Downgrade
              </div>
              <div
                class="back flexible flex-direction-column flex-justify-center"
              >
                <div class="sub">Upgrade/Downgrade</div>
                <p>
                  Lost data after upgrade/downgrade iOS? This iOS data recovery
                  tool will fix this problem.
                </p>
              </div>
            </div>
            <div class="cell sm-width">
              <div
                class="front flexible flex-direction-column flex-align-center flex-justify-center"
              >
                <svg width="45" viewBox="0 0 45 64" fill="#e43820">
                  <path
                    d="M35.4,0H9.6C4.3,0,0,4.3,0,9.6v44.8C0,59.7,4.3,64,9.6,64h25.8c5.3,0,9.6-4.3,9.6-9.6V9.6C45,4.3,40.7,0,35.4,0
                            z M19,58c0-1.7,1.3-3,3-3s3,1.3,3,3s-1.3,3-3,3S19,59.7,19,58z M3,53V9.6C3,6,6,3,9.6,3h25.8C39,3,42,6,42,9.6V53H3z"
                  />
                  <path
                    d="M32.4,23.4l-0.1-0.1l2.3-2.3l-3.8-3.8l-2.5,2.5c-0.8-0.5-1.6-0.9-2.4-1.3l-0.4-0.1l0,0V15h-5.3v3.6
                            c-1,0.2-1.9,0.5-2.9,0.9l-0.1,0.1L15,17.2L11.2,21l2.5,2.5c-0.5,0.8-0.9,1.6-1.3,2.4l-0.1,0.4l0,0H9v5.3h3.6c0.2,1,0.5,1.9,0.9,2.9
                            l0.1,0.1l-2.3,2.3l3.8,3.8l2.5-2.5c0.8,0.5,1.6,0.9,2.4,1.3l0.4,0.1l0,0v3.3h5.3v-3.6c1-0.2,1.9-0.5,2.9-0.9l0.1-0.1l2.3,2.3
                            l3.8-3.8l-2.5-2.5c0.5-0.8,0.9-1.6,1.3-2.4l0.1-0.4l0,0h3.3v-5.3h-3.6C33.1,25.3,32.8,24.3,32.4,23.4z M21.5,34.3
                            c-1.2-0.5-2.4-1.4-3.3-2.3c-0.5-1.4-0.7-2.9-0.7-4.5c0.5-1.2,1.3-2.4,2.3-3.3c1.4-0.5,2.9-0.7,4.5-0.7c1.2,0.5,2.4,1.3,3.3,2.3
                            c0.5,1.4,0.7,2.9,0.7,4.5c-0.5,1.2-1.4,2.4-2.3,3.3C24.6,34.2,23.1,34.4,21.5,34.3z"
                  />
                </svg>
                Factory Reset
              </div>
              <div
                class="back flexible flex-direction-column flex-justify-center"
              >
                <div class="sub">Factory Reset</div>
                <p>
                  Important files have been erased after factory reset? Here is
                  the best solution to get lost data back.
                </p>
              </div>
            </div>
            <div class="cell sm-width">
              <div
                class="front flexible flex-direction-column flex-align-center flex-justify-center"
              >
                <svg width="45" viewBox="0 0 45 64" fill="#e43820">
                  <path
                    d="M35.4,0H9.6C4.3,0,0,4.3,0,9.6v44.8C0,59.7,4.3,64,9.6,64h25.8c5.3,0,9.6-4.3,9.6-9.6V9.6C45,4.3,40.7,0,35.4,0
                            z M19,58c0-1.7,1.3-3,3-3s3,1.3,3,3s-1.3,3-3,3S19,59.7,19,58z M3,53V9.6C3,6,6,3,9.6,3h25.8C39,3,42,6,42,9.6V53H3z"
                  />
                  <path
                    d="M30,25v-4.5c0-4.1-3.4-7.5-7.5-7.5c-4.1,0-7.5,3.4-7.5,7.5V25c-1.7,0-3,1.3-3,3v11.9c0,1.7,1.3,3,3,3h15
                            c1.7,0,3-1.3,3-3V28C33,26.3,31.7,25,30,25z M17.9,20.5c0-2.6,2.1-4.6,4.6-4.6c2.6,0,4.6,2.1,4.6,4.6V25h-9.3V20.5z M24.8,38.3h-4.5
                            l1-4.1c-0.3-0.3-0.6-0.6-1-1c-0.3-1.1,0.2-2.4,1.5-3.1c1-0.3,2.3,0.2,3,1.5c0.3,0.8-0.1,1.9-1,2.6L24.8,38.3z"
                  />
                </svg>
                Locked/Disabled
              </div>
              <div
                class="back flexible flex-direction-column flex-justify-center"
              >
                <div class="sub">Locked/Disabled</div>
                <p>
                  Forgot passcode for iPhone, iPad or iPod Touch, our software
                  is an alternative solution.
                </p>
              </div>
            </div>

            <div class="cell sm-width">
              <div
                class="front flexible flex-direction-column flex-align-center flex-justify-center"
              >
                <svg width="45" viewBox="0 0 45 64" fill="#e43820">
                  <path
                    d="M35.4,0H9.6C4.3,0,0,4.3,0,9.6v44.8C0,59.7,4.3,64,9.6,64h25.8c5.3,0,9.6-4.3,9.6-9.6V9.6
                            C45,4.3,40.7,0,35.4,0z M30,3.3c0-0.1,0-0.2,0-0.3h2.9c0,0.1,0,0.2,0,0.2c0.1,0.2,1.4,6-5.9,8.4c-1.6,0.5-3.1,2.1-4.5,4.4
                            C22,16,21.5,15.9,21,16c-0.5-0.1-3.3-1.5-4.9-3.6c-0.1-0.1-0.2-0.3-0.3-0.4C22.4,9.8,28.9,6.7,30,3.3z M17.7,3.7
                            C17.9,3.5,18,3.3,18,3h9.9c-1.1,2.4-6.8,5.1-12.8,7.1C14.5,6.8,17.5,3.9,17.7,3.7z M3,9.6C3,6,6,3,9.6,3h6c-1.5,1.7-3.1,4.6-2.5,7.7
                            C9.4,11.8,5.7,12.6,3,13V9.6z M3,15c0,0,0.1,0,0.1,0c2.5-0.3,6.5-1.2,10.7-2.4c0.2,0.3,0.4,0.7,0.7,1c1.1,1.5,3.1,3,4.6,3.8
                            c-1.6,0.5-3.3,1.9-3.5,4.6C15,23.5,8.8,32,3,33.8V15z M3,53V35.8c7.1-1.7,14.5-12.2,14.6-13.7c0.1-3,3.1-3.1,3.4-3.1c0,0,0,0,0.1,0
                            c-2.9,6.5-5.2,16.4-7.3,25.8c-0.6,2.9-1.3,5.9-1.6,6.5c-0.2,0.2-0.4,1-0.5,1.7H3z M22,61c-1.7,0-3-1.3-3-3s1.3-3,3-3s3,1.3,3,3
                            S23.7,61,22,61z M42,53H13.4c0.1-0.1,0.2-0.2,0.2-0.2c0.6-0.4,0.8-1.2,2.1-7.5c1.4-6.6,3.9-18.1,7.1-25.3c1.1,2.1,3.5,5.7,6.9,6
                            C31,26.3,40.2,32,41,38.1c0.1,0.5,0.5,0.9,1,0.9V53z M42,34.7c-2.9-6-11-10.7-12.1-10.7c-2.4-0.1-4.4-3.1-5.5-5.1
                            c1.8,0.6,4.1,1.2,6.9,1.2c2.8,0,6.1-0.6,10.1-2.5c0.2-0.1,0.4-0.2,0.6-0.5V34.7z M42,15.4c-0.5-0.1-1.1,0.1-1.4,0.2
                            c-7.8,3.7-12.8,2.1-16,1c0,0,0,0,0,0c1-1.6,2.1-2.8,3.2-3.1c2-0.7,3.5-1.6,4.6-2.7c0.7,1.2,3.2,2.1,9.7,3V15.4z M42,11.9
                            c-6.6-0.9-7.8-1.8-8-2c0-0.3-0.2-0.5-0.4-0.7C35.3,6.6,35,3.8,34.9,3h0.5C39,3,42,6,42,9.6V11.9z"
                  />
                </svg>
                Broken Screen
              </div>
              <div
                class="back flexible flex-direction-column flex-justify-center"
              >
                <div class="sub">Broken Screen</div>
                <p>
                  Accidentally smashed iDevice, how to extract data instantly?
                  It's time to call FIXHUB!
                </p>
              </div>
            </div>
            <div class="cell sm-width">
              <div
                class="front flexible flex-direction-column flex-align-center flex-justify-center"
              >
                <svg width="45" viewBox="0 0 45 64" fill="#e43820">
                  <path
                    d="M35.4,0H9.6C4.3,0,0,4.3,0,9.6v44.8C0,59.7,4.3,64,9.6,64h25.8c5.3,0,9.6-4.3,9.6-9.6V9.6
                            C45,4.3,40.7,0,35.4,0z M19,58c0-1.7,1.3-3,3-3s3,1.3,3,3s-1.3,3-3,3S19,59.7,19,58z M3,53V9.6C3,6,6,3,9.6,3h25.8
                            C39,3,42,6,42,9.6V53H3z"
                  />
                  <path
                    d="M34,38c-0.7,0-1-0.4-1.6-1.1c-0.6-0.8-1.5-1.9-3.2-1.9s-2.5,1.1-3.2,1.9c-0.6,0.7-0.9,1.1-1.6,1.1
                            s-1-0.4-1.6-1.1c-0.6-0.8-1.5-1.9-3.2-1.9s-2.5,1.1-3.2,1.9c-0.6,0.7-0.9,1.1-1.6,1.1c-0.7,0-1-0.4-1.6-1.1
                            C12.5,36.1,11.7,35,10,35c-0.6,0-1,0.4-1,1s0.4,1,1,1c0.7,0,1,0.4,1.6,1.1c0.6,0.8,1.5,1.9,3.2,1.9c1.7,0,2.5-1.1,3.2-1.9
                            c0.6-0.7,0.9-1.1,1.6-1.1s1,0.4,1.6,1.1c0.6,0.8,1.5,1.9,3.2,1.9s2.5-1.1,3.2-1.9c0.6-0.7,0.9-1.1,1.6-1.1c0.7,0,1,0.4,1.6,1.1
                            c0.6,0.8,1.5,1.9,3.2,1.9c0.6,0,1-0.4,1-1S34.6,38,34,38z"
                  />
                  <path
                    d="M34,44c-0.7,0-1-0.4-1.6-1.1c-0.6-0.8-1.5-1.9-3.2-1.9s-2.5,1.1-3.2,1.9c-0.6,0.7-0.9,1.1-1.6,1.1
                            s-1-0.4-1.6-1.1c-0.6-0.8-1.5-1.9-3.2-1.9s-2.5,1.1-3.2,1.9c-0.6,0.7-0.9,1.1-1.6,1.1c-0.7,0-1-0.4-1.6-1.1
                            C12.5,42.1,11.7,41,10,41c-0.6,0-1,0.4-1,1s0.4,1,1,1c0.7,0,1,0.4,1.6,1.1c0.6,0.8,1.5,1.9,3.2,1.9c1.7,0,2.5-1.1,3.2-1.9
                            c0.6-0.7,0.9-1.1,1.6-1.1s1,0.4,1.6,1.1c0.6,0.8,1.5,1.9,3.2,1.9s2.5-1.1,3.2-1.9c0.6-0.7,0.9-1.1,1.6-1.1c0.7,0,1,0.4,1.6,1.1
                            c0.6,0.8,1.5,1.9,3.2,1.9c0.6,0,1-0.4,1-1S34.6,44,34,44z"
                  />
                  <path
                    d="M22.5,30c3.6,0,6.5-2.8,6.5-6.3c0-2.3-2.7-7.7-5-11.8c-0.3-0.5-0.9-0.9-1.5-0.9s-1.2,0.3-1.5,0.9
                            c-2.3,4.1-5,9.5-5,11.8C16,27.2,18.9,30,22.5,30z M22.5,13.3c2.8,5.1,4.5,9,4.5,10.4c0,2.4-2,4.3-4.5,4.3S18,26.1,18,23.7
                            C18,22.3,19.7,18.3,22.5,13.3z"
                  />
                  <path
                    d="M21,27c2.2,0,4-1.8,4-4c0-0.6-0.4-1-1-1s-1,0.4-1,1c0,1.1-0.9,2-2,2c-0.6,0-1,0.4-1,1S20.4,27,21,27z"
                  />
                </svg>
                Water Damage
              </div>
              <div
                class="back flexible flex-direction-column flex-justify-center"
              >
                <div class="sub">Water Damage</div>
                <p>
                  Dropped iPhone in water carelessly? Keep calm and rescue
                  disappeared data with this software!
                </p>
              </div>
            </div>

            <div class="cell sm-width">
              <div
                class="front flexible flex-direction-column flex-align-center flex-justify-center"
              >
                <svg width="45" viewBox="0 0 45 64" fill="#e43820">
                  <path
                    d="M35.4,0H9.6C4.3,0,0,4.3,0,9.6v44.8C0,59.7,4.3,64,9.6,64h25.8c5.3,0,9.6-4.3,9.6-9.6V9.6C45,4.3,40.7,0,35.4,0
                            z M19,58c0-1.7,1.3-3,3-3s3,1.3,3,3s-1.3,3-3,3S19,59.7,19,58z M3,53V9.6C3,6,6,3,9.6,3h25.8C39,3,42,6,42,9.6V53H3z"
                  />
                  <path
                    d="M22,14c-8.3,0-15,6.7-15,15c0,8.3,6.7,15,15,15c8.3,0,15-6.7,15-15C37,20.7,30.3,14,22,14z M15,28
                            c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1.3-1.3l-1.3-1.3c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l1.3,1.3l1.3-1.3
                            c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4L18.4,25l1.3,1.3c0.4,0.4,0.4,1,0,1.4C19.5,27.9,19.3,28,19,28s-0.5-0.1-0.7-0.3L17,26.4l-1.3,1.3
                            C15.5,27.9,15.3,28,15,28z M27.5,36.9c-0.4,0.1-0.8-0.1-0.9-0.5c0-0.1-1-3.1-4.5-3.1c-3.5,0-4.5,3-4.6,3.1c-0.1,0.3-0.4,0.5-0.7,0.5
                            c-0.1,0-0.1,0-0.2,0c-0.4-0.1-0.6-0.5-0.5-0.9c0.4-1.4,2.3-4.1,6-4.1c3.7,0,5.5,2.7,5.9,4.1C28.1,36.5,27.8,36.8,27.5,36.9z
                            M29.7,26.3c0.4,0.4,0.4,1,0,1.4C29.5,27.9,29.3,28,29,28s-0.5-0.1-0.7-0.3L27,26.4l-1.3,1.3C25.5,27.9,25.3,28,25,28
                            s-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4l1.3-1.3l-1.3-1.3c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l1.3,1.3l1.3-1.3c0.4-0.4,1-0.4,1.4,0
                            s0.4,1,0,1.4L28.4,25L29.7,26.3z"
                  />
                </svg>
                System Crash
              </div>
              <div
                class="back flexible flex-direction-column flex-justify-center"
              >
                <div class="sub">System Crash</div>
                <p>
                  This advanced program can regain lost files in case of system
                  crash or power failure.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="highest text-center">
        <div class="containerDa">
          <div class="title">Highest Recovery Rate in The Industry</div>
          <p class="tip">
            Recover over 26 types of data, win highest recovery rate (99%)
            compared with similar products.
          </p>
          <div class="flexible flex-align-start flex-justify-between sm-column">
            <div class="cell sm-width">
              <svg width="64" height="60" viewBox="0 0 64 45">
                <path
                  fill="#EAF8F1"
                  d="M0,22.5C4.7,35.6,17.3,45,32,45s27.3-9.4,32-22.5C59.3,9.4,46.7,0,32,0S4.7,9.4,0,22.5z"
                />
                <circle fill="#e43820" cx="32" cy="22" r="18" />
                <ellipse fill="#3D3D3D" cx="32" cy="22" rx="9" ry="9" />
                <ellipse fill="#FFFFFF" cx="27.5" cy="18.5" rx="3.5" ry="3.5" />
              </svg>
              <div class="sub">Preview Available</div>
              <p>Verify data in detail before recovery</p>
            </div>
            <div class="cell sm-width">
              <svg width="53" height="60" viewBox="0 0 53 60">
                <path
                  fill="#e43820"
                  d="M52.1,7.3C42.8,7.1,34,4.5,26.5,0C18.9,4.5,10.2,7.1,0.9,7.3c-0.6,3-0.9,6.1-0.9,9.1C0,36.7,10.7,50.6,26.5,60
                        c15.8-9.4,26.5-23.3,26.5-43.6C52.9,13.4,52.6,10.3,52.1,7.3z M36.3,26.4L25.1,37.9c-0.4,0.4-0.9,0.6-1.4,0.6c0,0,0,0,0,0
                        c-0.5,0-1.1-0.2-1.4-0.6l-4.6-4.9c-0.8-0.8-0.7-2.1,0.1-2.8c0.8-0.8,2.1-0.7,2.8,0.1l3.2,3.4l9.8-10c0.8-0.8,2-0.8,2.8,0
                        C37.1,24.3,37.1,25.6,36.3,26.4z"
                />
                <path
                  fill="none"
                  stroke="#EAF8F1"
                  stroke-width="5"
                  d="M2.6,9.2C2.2,11.6,2,14,2,16.4c0,17.9,8.5,31.5,24.5,41.3c15.9-9.8,24.5-23.4,24.5-41.3c0-2.3-0.2-4.8-0.6-7.1
                        c-8.5-0.4-16.6-2.8-23.9-6.9C19.2,6.4,11,8.8,2.6,9.2z"
                />
              </svg>
              <div class="sub">Safe Recovery</div>
              <p>Existing data will not be overwritten</p>
            </div>
            <div class="cell sm-width">
              <svg width="64" height="60" viewBox="0 0 64 55">
                <style type="text/css">
                  .st0 {
                    fill: #f0f0f0;
                  }
                  .st1 {
                    fill: #e1dfdf;
                  }
                  .st2 {
                    fill: #eb6b5f;
                  }
                  .st3 {
                    fill: #f4bf50;
                  }
                  .st4 {
                    fill: #e43820;
                  }
                  .st5 {
                    fill: #ffffff;
                  }
                  .st6 {
                    fill: none;
                    stroke: #c6c6c6;
                  }
                  .st7 {
                    fill: #c6c6c6;
                  }
                  .st8 {
                    fill: #e43820;
                  }
                </style>
                <path
                  class="st0"
                  d="M0,0h64v51l0,0c0,2.2-1.8,4-4,4H4l0,0c-2.2,0-4-1.8-4-4V0z"
                />
                <path
                  class="st1"
                  d="M4,0h56l0,0c2.2,0,4,1.8,4,4v3H0V4l0,0C0,1.8,1.8,0,4,0z"
                />
                <circle class="st2" cx="4.5" cy="3.5" r="1.5" />
                <circle class="st3" cx="8.5" cy="3.5" r="1.5" />
                <circle class="st4" cx="12.5" cy="3.5" r="1.5" />
                <rect x="36" y="15" class="st5" width="12" height="12" />
                <rect x="36.5" y="15.5" class="st6" width="11" height="11" />
                <rect x="36" y="31" class="st5" width="12" height="12" />
                <path class="st7" d="M48,43H36V31h12V43z M37,42h10V32H37V42z" />
                <path
                  class="st8"
                  d="M7,15v12h12V15H7z M16.5,19.3l-4.2,4.3c-0.1,0.1-0.3,0.2-0.5,0.2c0,0,0,0,0,0c-0.2,0-0.4-0.1-0.5-0.2l-1.8-1.9
                    c-0.3-0.3-0.3-0.8,0-1.1s0.8-0.3,1.1,0l1.2,1.3l3.7-3.8c0.3-0.3,0.8-0.3,1.1,0S16.8,19,16.5,19.3z"
                />
                <path
                  class="st8"
                  d="M7,31v12h12V31H7z M16.5,35.3l-4.2,4.3c-0.1,0.1-0.3,0.2-0.5,0.2c0,0,0,0,0,0c-0.2,0-0.4-0.1-0.5-0.2l-1.8-1.9
                    c-0.3-0.3-0.3-0.8,0-1.1c0.3-0.3,0.8-0.3,1.1,0l1.2,1.3l3.7-3.8c0.3-0.3,0.8-0.3,1.1,0C16.8,34.5,16.8,35,16.5,35.3z"
                />
                <path class="st8" d="M21,16h7v4h-7V16z M21,22h4v4h-4V22z" />
                <path class="st8" d="M21,32h7v4h-7V32z M21,38h4v4h-4V38z" />
                <rect x="50" y="22" class="st7" width="4" height="4" />
                <rect x="50" y="16" class="st7" width="7" height="4" />
                <rect x="50" y="32" class="st7" width="7" height="4" />
                <rect x="50" y="38" class="st7" width="4" height="4" />
              </svg>
              <div class="sub">Flexible Recovery</div>
              <p>Recover all data, or select files</p>
            </div>
            <div class="cell sm-width">
              <svg width="56" height="60" viewBox="0 0 56 56" fill="#e43820">
                <path
                  d="M28,0C12.5,0,0,12.5,0,28c0,15.5,12.5,28,28,28c15.5,0,28-12.5,28-28C56,12.5,43.5,0,28,0z M18.7,15
                    c2.1,0,3.7,1.6,3.7,3.5c0,1.9-1.7,3.5-3.7,3.5S15,20.4,15,18.5C15,16.6,16.7,15,18.7,15z M38.8,35.6c-0.8,2.2-4.4,6.3-11.8,6.3
                    c-7.4,0-11-4.2-11.9-6.3c-0.2-0.5-0.2-1,0.1-1.4c0.3-0.5,0.8-0.9,1.5-1.1c0.2,0,0.4-0.1,0.6-0.1c1,0,1.9,0.5,2.2,1.3
                    c0.1,0.2,1.6,3.8,7.5,3.8c5.8,0,7.3-3.6,7.4-3.7c0.4-0.9,1.5-1.5,2.7-1.2c0.7,0.1,1.2,0.5,1.5,1C39,34.6,39,35.1,38.8,35.6z
                    M37.3,22c-2.1,0-3.7-1.6-3.7-3.5c0-1.9,1.7-3.5,3.7-3.5s3.7,1.6,3.7,3.5C41,20.4,39.3,22,37.3,22z"
                />
              </svg>
              <div class="sub">Ease of Use</div>
              <p>3 simple steps: connect, scan and recover</p>
            </div>
          </div>
        </div>
      </div>
      <div class="three-modes">
        <div class="containerDa">
          <div class="title text-center">
            3 Modes to Restore Data Without Any Loss
          </div>
          <p class="tip text-center">
            3 recovery modes to retrieve lost or deleted data with no data
            damage. Never Overwrite materials.
          </p>
          <div class="flexible flex-align-start flex-justify-between sm-column">
            <div class="cell sm-width">
              <div class="sub">From iOS Device</div>
              <p>
                Directly scan iPhone, iPad, and iPod touch to preview and
                recover the deleted content up to 26 file types.
              </p>
              <svg width="48" height="48" viewBox="0 0 48 48" fill="#FFF">
                <path
                  d="M33.8,0H14.2C10.2,0,7,3.2,7,7.2v33.6c0,4,3.2,7.2,7.2,7.2h19.6c4,0,7.2-3.2,7.2-7.2V7.2C41,3.2,37.8,0,33.8,0z M21,44
                    c0-1.9,1.1-3,3-3c0.9,0,2,1.1,2,3c0,0.6-0.6,1.4-1.2,1.8h-2.2C21.6,45.4,21,44.6,21,44z M9.2,40V7.2c0-2.7,2.2-5,5-5h19.6
                    c2.7,0,5,2.2,5,5V40H9.2z"
                />
              </svg>
            </div>
            <div class="cell sm-width">
              <div class="sub">From iTunes</div>
              <p>
                Extract iTunes backup and recover selected files. As long as
                you've ever synced iOS device with iTunes.
              </p>
              <svg width="48" height="48" viewBox="0 0 48 48" fill="#FFF">
                <path
                  d="M24,0C10.8,0,0,10.8,0,24s10.8,24,24,24s24-10.8,24-24S37.2,0,24,0z M24,46C11.9,46,2,36.1,2,24S11.9,2,24,2s22,9.9,22,22
                    S36.1,46,24,46z"
                />
                <path
                  d="M33.3,12l-15.3,1.6c-0.8,0.1-1.4,0.7-1.4,1.5v15.2c-0.6-0.4-1.3-0.6-2.1-0.6c-1,0-1.9,0.4-2.6,1.1c-0.7,0.6-1.1,1.5-1.1,2.5
                    c0,2,1.6,3.6,3.6,3.6c1,0,1.9-0.4,2.6-1.1c0.5-0.5,0.9-1.2,1-1.9c0-0.1,0-0.2,0-0.2c0,0,0,0,0,0v-14c0-0.8,0.6-1.4,1.3-1.5l12.1-1.5
                    c0.9-0.1,1.7,0.6,1.7,1.5v10.5c-0.6-0.4-1.3-0.6-2.1-0.6c-1,0-1.9,0.4-2.6,1.1c-0.7,0.7-1.1,1.5-1.1,2.5c0,2,1.6,3.6,3.6,3.6
                    c1,0,1.9-0.4,2.6-1.1c0.6-0.6,0.9-1.3,1-2.1c0-0.1,0-0.2,0-0.3v0c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1v-18C35,12.6,34.2,11.9,33.3,12z"
                />
              </svg>
            </div>
            <div class="cell sm-width">
              <div class="sub">From iCloud</div>
              <p>
                Extract iCloud backup and recover selected files. FixHub Store
                can get iCloud backup file off to the computer or iphone.
              </p>
              <svg width="48" height="48" viewBox="0 0 48 48" fill="#FFF">
                <path
                  d="M9,41h28c6.3,0,11-4.7,11-10c0-4.6-2.4-8.3-6-10c-0.1-0.3,0-0.7,0-1c0-6.6-5.3-12-12-12c-4.5,0-8.6,2.5-11,7
                    c-3.5-2-7.9-0.2-9,4c-1,1-1.1,2.5-1,4l0,0c-5,0-9,4-9,9C0,37,4,41,9,41z"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="just-steps" id="third">
        <div class="containerDa">
          <div class="title text-center">
            Just 3 Steps to Recover Lost iPhone / iPad / iPod touch Data
          </div>
          <div class="flexible sm-column">
            <div
              class="cell flexible flex-direction-column flex-justify-center flex-align-center sm-width"
            >
              <svg width="80" viewBox="0 0 80 103" fill="#e43820">
                <path
                  d="M23,8c-5.5,0-10,4.5-10,10s4.5,10,10,10s10-4.5,10-10S28.5,8,23,8z M24.6,23h-1.9v-7.2
                    c-0.7,0.7-1.5,1.1-2.5,1.5v-1.7c0.5-0.2,1-0.5,1.6-0.9c0.6-0.5,1-1,1.2-1.6h1.6V23z"
                />
                <path
                  d="M53,37c-4.7,0-9,1.2-12.9,3.3c-1.4-0.8-3-1.3-4.7-1.3H9.6C4.3,39,0,43.3,0,48.6v44.8c0,5.3,4.3,9.6,9.6,9.6
                    h25.8c5.3,0,9.6-4.3,9.6-9.6v-3.6c2.5,0.8,5.2,1.2,8,1.2c14.9,0,27-12.1,27-27S67.9,37,53,37z M22,100c-1.7,0-3-1.3-3-3s1.3-3,3-3
                    s3,1.3,3,3S23.7,100,22,100z M42,92H3V48.6C3,45,6,42,9.6,42h25.8c0.6,0,1.1,0.1,1.7,0.2C30.4,47.1,26,55.1,26,64
                    c0,11,6.6,20.4,16,24.6V92z M42,48.6v37.8C33.7,82.4,28,73.8,28,64c0-8.7,4.4-16.3,11.2-20.8C40.9,44.4,42,46.4,42,48.6z M53,89
                    c-2.8,0-5.5-0.5-8-1.3V48.6c0-2.8-1.2-5.3-3.1-7C45.3,39.9,49,39,53,39c13.8,0,25,11.2,25,25S66.8,89,53,89z"
                />
                <circle fill="#FFF" cx="53" cy="64" r="25" />
                <path
                  d="M60,54h-2v-7H48v7h-2v17h4v11h6V71h4V54z M50,49h6v5h-6V49z"
                />
              </svg>
              Connect Device
            </div>
            <div
              class="cell flexible flex-direction-column flex-justify-center flex-align-center sm-width"
            >
              <svg width="80" viewBox="0 0 80 95" fill="#e43820">
                <path
                  d="M23,0c-5.5,0-10,4.5-10,10s4.5,10,10,10s10-4.5,10-10S28.5,0,23,0z M26.2,13.2V15h-6.7c0.1-0.7,0.3-1.3,0.7-1.9
                    c0.4-0.6,1.1-1.4,2.2-2.4c0.9-0.8,1.4-1.4,1.6-1.6c0.3-0.4,0.4-0.8,0.4-1.2c0-0.4-0.1-0.8-0.3-1c-0.2-0.2-0.5-0.3-1-0.3
                    c-0.4,0-0.7,0.1-1,0.4s-0.4,0.6-0.4,1.2l-1.9-0.2c0.1-1.1,0.5-1.8,1.1-2.3s1.4-0.7,2.3-0.7c1,0,1.8,0.3,2.3,0.8s0.8,1.2,0.8,2
                    c0,0.5-0.1,0.9-0.2,1.3c-0.2,0.4-0.4,0.8-0.8,1.3c-0.2,0.3-0.7,0.7-1.3,1.3s-1,0.9-1.2,1.1s-0.3,0.4-0.4,0.5H26.2z"
                />
                <path
                  d="M53,29c-4.7,0-9,1.2-12.9,3.3c-1.4-0.8-3-1.3-4.7-1.3H9.6C4.3,31,0,35.3,0,40.6v44.8C0,90.7,4.3,95,9.6,95h25.8
                    c5.3,0,9.6-4.3,9.6-9.6v-3.6c2.5,0.8,5.2,1.2,8,1.2c14.9,0,27-12.1,27-27S67.9,29,53,29z M22,92c-1.7,0-3-1.3-3-3s1.3-3,3-3
                    s3,1.3,3,3S23.7,92,22,92z M42,84H3V40.6C3,37,6,34,9.6,34h25.8c0.6,0,1.1,0.1,1.7,0.2C30.4,39.1,26,47.1,26,56
                    c0,11,6.6,20.4,16,24.6V84z M42,40.6v37.8C33.7,74.4,28,65.8,28,56c0-8.7,4.4-16.3,11.2-20.8C40.9,36.4,42,38.4,42,40.6z M53,81
                    c-2.8,0-5.5-0.5-8-1.3V40.6c0-2.8-1.2-5.3-3.1-7C45.3,31.9,49,31,53,31c13.8,0,25,11.2,25,25S66.8,81,53,81z"
                />
                <circle fill="#FFF" cx="53" cy="56" r="25" />
                <path
                  d="M66.4,66.3l-6.8-6.8c1.8-2.4,2.7-5.4,2.3-8.7c-0.7-4.9-4.6-8.8-9.5-9.6c-7.8-1.3-14.5,5.4-13.3,13.3
                    c0.8,4.9,4.8,8.7,9.6,9.5c3.3,0.5,6.3-0.5,8.7-2.3l6.8,6.8c0.6,0.6,1.5,0.6,2.1,0l0,0C67,67.8,67,66.9,66.4,66.3z M42,52.5
                    c0-4.7,3.8-8.5,8.5-8.5s8.5,3.8,8.5,8.5c0,4.7-3.8,8.5-8.5,8.5S42,57.2,42,52.5z"
                />
              </svg>
              Scan & Search
            </div>
            <div
              class="cell flexible flex-direction-column flex-justify-center flex-align-center sm-width"
            >
              <svg width="86" viewBox="0 0 86 91" fill="#e43820">
                <path
                  d="M32,0c-5.5,0-10,4.5-10,10s4.5,10,10,10s10-4.5,10-10S37.5,0,32,0z M34.3,14.2c-0.6,0.6-1.4,0.9-2.4,0.9
                    c-0.9,0-1.7-0.3-2.3-0.8c-0.6-0.5-0.9-1.2-1-2l1.9-0.2c0.1,0.5,0.2,0.8,0.5,1.1s0.6,0.4,0.9,0.4c0.4,0,0.7-0.2,1-0.5
                    s0.4-0.7,0.4-1.2c0-0.5-0.1-0.9-0.4-1.1s-0.6-0.4-1-0.4c-0.2,0-0.5,0-0.9,0.1l0.2-1.6c0.5,0,0.9-0.1,1.2-0.3c0.3-0.2,0.4-0.6,0.4-1
                    c0-0.3-0.1-0.6-0.3-0.8s-0.5-0.3-0.8-0.3c-0.3,0-0.6,0.1-0.8,0.3s-0.4,0.6-0.4,1l-1.8-0.3c0.1-0.6,0.3-1.1,0.6-1.5
                    c0.2-0.4,0.6-0.6,1-0.9c0.4-0.2,0.9-0.3,1.5-0.3c0.9,0,1.7,0.3,2.3,0.9c0.5,0.5,0.7,1,0.7,1.7c0,0.9-0.5,1.6-1.4,2.1
                    c0.6,0.1,1,0.4,1.4,0.8s0.5,0.9,0.5,1.6C35.3,12.9,35,13.6,34.3,14.2z"
                />
                <circle cx="6.5" cy="41.5" r="1.5" />
                <circle cx="10.5" cy="41.5" r="1.5" />
                <circle cx="14.5" cy="41.5" r="1.5" />
                <path
                  d="M86,56c0-14.9-12.1-27-27-27c-7,0-13.3,2.7-18.1,7H5H4c-2.2,0-4,1.8-4,4v1v6v39c0,2.8,2.2,5,5,5h54
                    c2.8,0,5-2.2,5-5v-3.5C76.5,80.2,86,69.2,86,56z M35.7,47H62v33.8c-1,0.1-2,0.2-3,0.2c-13.8,0-25-11.2-25-25
                    C34,52.8,34.6,49.8,35.7,47z M62,45H36.6c1.3-2.6,3-5,5.1-7H59c1.7,0,3,1.3,3,3V45z M2,41c0-1.7,1.3-3,3-3h33.9
                    c-1.9,2.1-3.4,4.4-4.5,7H2V41z M62,86c0,1.7-1.3,3-3,3H5c-1.7,0-3-1.3-3-3V47h31.5c-1,2.8-1.5,5.8-1.5,9c0,14.9,12.1,27,27,27
                    c1,0,2-0.1,3-0.2V86z M64,80.5V47v-6v-1c0-2.2-1.8-4-4-4h-1H44c4.2-3.1,9.4-5,15-5c13.8,0,25,11.2,25,25C84,68.1,75.4,78.2,64,80.5z
                    "
                />
                <circle fill="#FFF" cx="59" cy="56" r="25" />
                <path
                  d="M42,57c2.5-7,9.2-12,17-12s14.5,5,17,12c-2.5,7-9.2,12-17,12S44.5,64,42,57z M58.8,66.3c5.2,0,9.4-4.2,9.4-9.5
                    s-4.2-9.5-9.4-9.5s-9.4,4.2-9.4,9.5S53.6,66.3,58.8,66.3z"
                />
                <path
                  d="M53.2,54.9c-0.2,0.5-0.2,1.1-0.2,1.6c0,3,2.5,5.5,5.5,5.5s5.5-2.5,5.5-5.5S61.5,51,58.5,51
                    c-0.6,0-1.1,0.1-1.6,0.2c1,0.4,1.6,1.4,1.6,2.5c0,1.5-1.2,2.8-2.8,2.8C54.6,56.5,53.7,55.8,53.2,54.9z"
                />
              </svg>
              Preview & Recover
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- footer section starts -->
    <%- include('partials/_footer') -%>
    <!-- end footer section -->

    <script
      src="https://www.youtube.com/iframe_api"
      type="text/javascript"
      async
    ></script>
    <script type="text/javascript" src="js/common.js"></script>

    <!-- jQuery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>
    <script src="js/owl.js"></script>

    <!-- custom js -->
    <script src="js/custom.js"></script>
    <script src="js/dynamic.js"></script>

    <script>
      myInterval = setInterval(setText, 4000);

      function setText() {
        let x = document.querySelector("#online");
        x.innerHTML = x.innerHTML == "CALL US" ? "+20 100 588 5855" : "CALL US";
      }
    </script>
  </body>
</html>
