<!DOCTYPE html>
<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <link rel="icon" href="/images/logo fixhub new.jpg" type="image/gif" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <title>FixHub</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <!-- fonts style -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- font awesome style -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/sell.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"
  ></script>

  </head>
  <body>
     <!-- header section strats -->
     <%- include('partials/_header') -%>
     <!-- end header section -->


    <div id="about-main">
      <div class="jumbotron">
        <div class="jumbotron-inner">
          <div class="top-box">
            <div class="content-box">
              <h1>Turning your unused devices into CA$H</h1>
              <p>
                Do you have an apple product devices graveyard in your junk
                drawer? We are here to help you turn those old devices into cash
                on the spot!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="story-container">
        <div class="need-for-dx-container">
          <h3 class="text-center">Step 1</h3>

          <p>
            To get a "ballpark value" on your mobile device, please click
            <a href="index.html#devices">HERE</a>
          </p>
          <p>
            This link outlines the value of your phone based on the condition,
            the number of Gigabytes (GB), and the model/year of the device after
            you upload the pics of the device and the model.
          </p>
          <p>
            The value on this reply may or may not be the final number giving to
            you. We have to inspect all devices and test all functionality and
            battery life before a final value is given.
          </p>
        </div>
        <div class="container-divider"></div>
        <div class="need-for-dx-container">
          <h3 class="text-center">Step 2</h3>

          <p>
            For a final cost evaluation you will need to visit the store, so we
            can complete a physical and mechanical check on your phone through
            our 15- Minute’s diagnostic inspection.
          </p>
          <p>
            We will determine your device resale value we will give you cash on
            the spot.
          </p>
          <p>
            If your device has a broken screen with damage to the LCD or
            touchscreen function we can assess the value of the device by
            temporarily attaching a screen to the device In order to run the
            diagnostic.
          </p>
          <p>
            In this situation, you must be prepared to leave your phone with us
            — Wait time is dependent on how busy our technicians are when you
            arrive. You must present government Issued picture ID before we
            purchase your device.
          </p>
        </div>
        <div class="container-divider"></div>
        <div class="need-for-dx-container">
          <h3 class="text-center">Step 3</h3>

          <p>
            All devices must be restored to factory settings and removed from
            accounts such as ICloud/Google…etc
          </p>

        </div>

        <div class="container-divider"></div>
      </div>
    
       <!-- header section strats -->
       <%- include('partials/_footer') -%>
       <!-- end header section -->

    <!-- jQuery -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="/js/custom.js"></script>
    <script>
      myInterval = setInterval(setText, 4000);

      function setText() {
        let x = document.querySelector("#online");
        x.innerHTML = x.innerHTML == "CALL US" ? "+20 100 588 5855" : "CALL US";
      }
    </script>
    
  </body>
</html>
